/* SETUP */

#setup {
    padding: 0px 50px;
    width: 100%;
    flex-direction: column;
}

.styled-setup {
    display: flex;
    gap: 1rem;
    color: var(--text-color);
}

@media (max-width: 992px) {
    #setup {
        padding: 0 15px;
    }

    .styled-setup {
        margin-block: 1rem;
        flex-direction: column;
        height: auto;
    }
}

.card-left {
    background: var(--bg);
    border-radius: 0.5rem;
    border: 1px solid var(--border);

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;

    @media(max-width:992px) {
        order: 1;
    }
}

.item-list {
    width: 100%;
    width: 100%;
    height: 300px;
}

input {
    width: 100%;
    padding: 0.7rem;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 0.3rem;
    font-size: 1.1rem;
    color: var(--text-color);
    resize: none;
    outline: none;
}

#item {
    padding: 1rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    gap: 0.4em;
    cursor: pointer;

}

#item>svg,
span {
    transition: all 0.5s;
}

#item:hover svg {
    transform: translateX(8px);
    color: var(--color-special);
}

#item:hover span {
    color: var(--color-special);
}


.card-right {
    background: var(--bg);
    border-radius: 0.5rem;
    border: 1px solid var(--border);

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: auto;
    text-align: center;
    padding: 1rem;
}

.card-right>p {
    font-size: 1rem;
    margin: 0;
}