/* HOME */
#home {
    padding: 0px 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#home .icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#home svg {
    margin-top: 30px;
    color: var(--text-color);
    font-weight: 500;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#home svg:hover {
    transform: translateY(-10px);
    transition-delay: 0s;
    color: var(--color-special);

}

svg:not(:hover) {
    transition-delay: 0.2s;
}

@media (max-width: 992px) {
    #home {
        align-items: center;
        text-align: center;
        padding: 0 15px;
    }
}