@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #1c1c1e;
  --secondary-color: #3e3e3e;
  --background: #161618;

  --text-color: #fff;

  --button-text-color: #ffffffdc;
  --special-color: #d14141;
}

.light {
  --primary-color: #f0f0f0;
  --secondary-color: #dcdcdc;
  --background: #ffffff;

  --text-color: #000;

  --button-text-color: #000000dc;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  background-color: var(--background);
  height: 100%;
  overflow-x: hidden;
}

input,
textarea {
  font-size: 16px;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.313rem 0.313rem 0 0;
  outline: none;
  border: none;
  border-bottom: 0.063rem solid var(--text-color);

  box-sizing: border-box;
  resize: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

button {
  cursor: pointer;
}

::placeholder {
  font-size: 16px;
}

::selection {
  background-color: #3f3f3f;
  color: #3f3f3f;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1b1bb4;
}