/* ABOUT */
#about {
  padding: 0px 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 70%;
  height: auto;
  border-radius: 1rem;
}

@media (max-width: 992px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
  }

  .text-container {
    width: 100%;
    text-align: center;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin-bottom: 2rem;
  }

}

/* CONTACT */
#contact {
  width: 100%;
  flex-direction: column;
  padding: 0px 50px;
}

#contact button {
  width: 100%;
  margin-top: 30px;
  padding: 1rem;
  border-radius: 0.3rem;
  backdrop-filter: blur(10px);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.4s, background 0.4s;
  border: 1px solid var(--color-special);

  &:hover {
    background: var(--color-special);
    color: #fff;
    transition-delay: 0s;
  }

  &:not(:hover) {
    transition-delay: 0.1s;
  }
}

.col-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
}

input,
textarea {
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 1rem;
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: var(--text-color);
  resize: none;
  outline: none;
}

::placeholder {
  font-weight: 500;
  color: var(--text-color-2);
}

@media (max-width: 768px) {
  form {
    width: 100%;
    padding: 0;
  }
}


/* SKILLS */
#skills {
  padding: 0px 50px;
  width: 100%;
  flex-direction: column;
}

.skills-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#card {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 2rem;
  border-radius: 0.3rem;
  background: var(--bg);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}

p {
  color: var(--text-color);
  max-width: 650px;
  line-height: 140%;
  font-size: 1.5rem;
  font-weight: 400;
}

#card svg {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 160%;
}

#card:hover {
  transform: translateY(-10px);
  transition-delay: 0s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#card:hover svg {
  color: var(--color-special);
}

#card:not(:hover) {
  transition-delay: 0.2s;
}


@media (max-width: 992px) {
  #skills {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  #card {
    width: 80vw;
  }
}