#background {
  filter: var(--blur) saturate(120%);
  z-index: -1;
}

.shape1 {
  position: fixed;
  width: 70%;
  height: 600px;

  background: linear-gradient(to top right, #34b8ff 100%, #13374a 50%);
  opacity: 0.2;

  clip-path: polygon(74.1% 44.1%,
      100% 31.6%,
      97.5% 26.9%,
      85.5% 0.1%,
      80.7% 2%,
      72.5% 42.5%,
      60.2% 62.4%,
      52.4% 38.1%,
      47.5% 58.3%,
      45.2% 34.5%,
      27.5% 76.7%,
      0.1% 44.9%,
      17.9% 76%,
      27.6% 56.8%,
      76.1% 67.7%,
      74.1% 44.1%);
}

.shape2 {
  position: fixed;
  width: 80%;
  height: 500px;

  background: linear-gradient(to top right, #34b8ff 100%, #13374a 50%);
  opacity: 0.2;

  clip-path: polygon(74.1% 44.1%,
      100% 31.6%,
      97.5% 26.9%,
      85.5% 0.1%,
      80.7% 2%,
      72.5% 42.5%,
      60.2% 62.4%,
      52.4% 38.1%,
      47.5% 58.3%,
      45.2% 34.5%,
      27.5% 76.7%,
      0.1% 44.9%,
      17.9% 76%,
      27.6% 56.8%,
      76.1% 67.7%,
      74.1% 44.1%);
}